.left-menu-container {
  background-color: #313235;
  width: 200px;
  height: 100vh;
  left: 0;
  align-self: flex-start;
}

.nav-logo {
  text-align: center;
  cursor: default;
  padding: 1em;
  margin: 0;
}

.navlink-container {
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
}

.navlink-container a {
  color: inherit;
  text-decoration: none;
}

.navlink {
  padding: 1em;
}

.navlink--active {
  background-color: #1d1f23;
}

.navlink:hover {
  background-color: #3E4145;
}