.navlink--back {
  padding-top: 5em;
}

.repo-header {
  width: 100%;
  padding: 0.5em;
  text-align: center;
  background-image: linear-gradient(#3d4160, #282933);
}

.repo-header--name {
  margin: auto;
}

.graph-layout {
  display: grid;
  grid-template-columns: 50% 50%;
}

.navlink--back {
  grid-row: 2;
}

.repo-header {
  grid-row: 3;
  grid-column: 1 / -1;
}

.gitgraph-component {
  grid-row: 4;
}

.gitgraph-outlet {
  grid-row: 4;
  grid-column: 2;
  border: 1px solid white;
}