.accordion-items {
  background-color: #33363d;
  padding-left: 1em;
  cursor: pointer;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
  cursor: pointer;
}